@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.configurator{
  position: fixed;
  right: 24px;
  width: 320px;
  bottom: 25vh;
  color: white;
  padding: 16px;
}

.configurator_section_title{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

.configurator_section_values{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.item_option {
  font-size: 16px;
  color: #acacac;
}

.item:hover {
  opacity: 0.8;
  cursor: pointer;
}